############################
#                          #
#      gitignore file      #
#                          #
############################


# vscode folder
.vscode/


# object files
*.o


# elf files
*.elf
