############################
#                          #
#      gitignore file      #
#                          #
############################


# vscode folder
.vscode/


# object files
*.o


# build files
*.elf
*.hex

# terminal.c executable file
file
